.partition {
    max-width: 16%;
    padding-left: 2%;
    padding-right: 2%;
    display: inline-table;
}

.dropdown-title {
    padding-top: 3%;
    font-weight: bolder;
    font-size: larger;
    text-align: left;
    font-family: sans-serif;
    padding-left: 13%;
}

.time-partition {
    font-size: x-large;
    font-family: sans-serif;
    margin-top: 1%;
    padding-left: 2%;
    display: inline-table;
    max-height: 4%
}
